$blue:    #4fb5f5;
$indigo:  #7d11bc ;
$purple:  #b443ec ;
$pink:    #de72c8 ;
$red:     #df3b3b ;
$orange:  #f77f88 ;
$yellow:  #fce571 ;
$green:   #198754 ;
$teal:    #20c997 ;
$cyan:    #badfd7 ;
$gray-100: rgb(249, 249, 248);
$primary:       $blue ;
$secondary:     $purple ;
$success:       $green ;
$info:          $cyan ;
$warning:       $yellow ;
$danger:        $red ;